/* Fondo de pantalla */
html {

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

body {
    background-color: #fdfdfc;
    margin: 0;
    padding: 0;

    &::-webkit-scrollbar {
        display: none;
    }

    &>header {
        height: 100%;

        &>.header__header {
            background-color: rgb(37, 37, 37);
            display: flex;
            width: 100%;
            height: 100px;
            justify-content: space-between;
            align-items: center;

            &>svg {
                width: 300px;
                cursor: pointer;
            }

            &>.header__menu {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: 40px;
                padding: 5px;
                border-radius: 6px;
                cursor: pointer;
                color: white;

                &>button {
                    background-color: transparent;
                    border: none;
                    display: flex;
                    flex-direction: column;
                    border-radius: 10px;

                    &>.rows {
                        cursor: pointer;

                        &>.row {
                            margin: 0;
                            padding: 0;

                            &::after {
                                content: "";
                                display: block;
                                width: 25px;
                                height: 2px;
                                background-color: rgb(255, 255, 255);
                                margin: 3px 0;
                                /* Ajusta este valor para reducir el espacio */

                            }
                        }
                    }

                }

                &>span {
                    font-size: 20px;
                }

                &:hover {
                    background-color: rgb(99, 99, 99);


                }
            }

            &>.clear {
                width: 77.85px;
                height: 31px;
            }
        }

        

        &>a {
            color: black;

            &>.arrow__down {
                cursor: pointer;
                position: absolute;
                bottom: 75px;
                left: 50%;
                width: 0;
                height: 0;

                &>svg {
                    animation: pulse-animation 2s infinite;
                    border: 1px solid;
                    padding: 10px;
                    border-radius: 100%;
                }
            }
        }

        &>main {
            display: flex;
            flex-direction: row-reverse;
            height: 89.7vh;

            &>.main__img {
                width: 100%;
                box-sizing: border-box;
                background-image: url(Imagenes/RegisterBG.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;


            }

            &>.main__content {
                width: 150%;
                height: 100%;
                box-sizing: border-box;
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: scroll;
                &::-webkit-scrollbar{
                    display: none;
                }

                &>.container {
                    font-family: "Exo 2", serif;
                    font-optical-sizing: auto;
                    font-weight: 400;
                    font-style: normal;
                    width: 900px;
                    display: flex;
                    flex-direction: column;
                    & p {
                        font-size: 20px;
                        font-weight: 200;

                        &>a {
                            color: black;
                        }
                    }

                    &>.header {
                        &>h1 {
                            font-family: Verdana, Geneva, Tahoma, sans-serif;
                            font-size: 60px;
                            font-weight: 300;
                        }

                        &>.logo {
                            display: flex;
                            justify-content: center;

                            &>svg {
                                width: 150px;
                            }
                        }

                    }

                    &>form {
                        display: flex;
                        flex-direction: column;
                        gap: 20px;
                        &>.inputs{
                            display: flex;
                            width: 100%;
                            flex-wrap: wrap;
                            gap: 20px;
                            flex-grow: 1;
                            &>.form {            
                                position: relative;
                                &>label {
                                    top: 12px;
                                    left: 15px;
                                    position: absolute;
                                    cursor: text;
                                    background-color: white;
                                    padding: 5px;
                                    transition: 0.4s ease;
                                }
                                &>input {
                                    width: 439px;
                                    padding: 15px;
                                    font-size: 20px;
                                    box-sizing: border-box;
                                    border: 1px solid rgb(109, 109, 109);
                                    outline: none;
                                    transition: 0.4s ease;
                                    border-radius: 3px;
                                    z-index: 0;
                                    &:focus,
                                    &:valid {
                                        border: 1px solid rgba(109, 109, 109, 0);
                                        box-shadow: 0 0 0 2px black;
    
                                    }
                                }                
                                &>input:focus + label,&>input:valid + label,
                                &>input.has-content + label {
                                    color: gray;
                                    transform: translate(-10px, -24px);
                                    font-size: 13px;
                                }
    
                            }
                        }
                        &>.submit{
                            display: flex;
                            flex-direction: column;
                            gap: 20px;
                            &>input {
                                width: 200px;
                                padding: 15px;
                                font-size: 15px;
                                box-sizing: border-box;
                                border: 1px solid rgb(109, 109, 109);
                                background-color: black;
                                color: white;
                                outline: none;
                                border-radius: 3px;
                                font-family: "Exo 2";
                                cursor: pointer;
                            }
                            &>span>a{
                                color: black;
                            }
                        }
                        
                    }


                    &>.main{
                        &>header{
                            width: 100%;
                        }
                        &>.or-seperator {
                            width: 100%;
                            display: flex;
                            flex-direction: row;
                            text-transform: uppercase;
                            border: none;
                            font-size: 12px;
                            font-weight: 500;
                            margin: 0;
                            padding: 24px 0 0;
                            
                            &>span {
                                text-align: center;
                                flex: 0.2 0 auto;
                                margin: 0;
                            }
                            &:before {
                                content: "";
                                border-bottom: 1px solid #6b6d70;
                                flex: 1 0 auto;
                                height: .5em;
                                margin-top: 1px;
                                box-sizing: border-box;

                            }
                            &:after {
                                content: "";
                                border-bottom: 1px solid #6b6d70;
                                flex: 1 0 auto;
                                height: .5em;
                                margin-top: 1px;
                                box-sizing: border-box;

                            }
                        }

                        &>button {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 100%;
                            padding: 15px;
                            font-size: 15px;
                            box-sizing: border-box;
                            border: 2px solid rgb(0, 0, 0);
                            background-color: transparent;
                            border-radius: 3px;
                            font-family: "Exo 2";
                            cursor: pointer;
                        
                            &>svg {
                                width: 20px;
                                margin-right: 10px;
                            }
                        
                            &>p {
                                margin: 0;
                            }

                            &:hover{
                                background: #eeeeee;
                            }
                        }

                    }
                }
            }
        }

        &>.mensaje{
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-size: 20px;
            color: rgb(255, 255, 255);
            position: absolute;
            top: 150px;
            right: 0;
            padding: 10px;
            border-radius: 7px 0 0 7px;
            background-color: rgb(33, 128, 33);
            transform: translate(500px);
            width: 350px;
            height: 30px;
        }
    }
}

@keyframes popupMovement {
    0% {
        transform:rotate(0deg);
    }
    5%{
        transform:rotate(1deg);

    }
    10%{
        transform:rotate(2deg);

    }
    15%{
        transform:rotate(3deg);

    }
    20%{
        transform:rotate(4deg);

    }
    25%{
        transform:rotate(3deg);

    }
    30%{
        transform:rotate(2deg);

    }
    35%{
        transform:rotate(1deg);

    }
    40%{
        transform:rotate(0deg);

    }
    45%{
        transform:rotate(-1deg);

    }
    50%{
        transform:rotate(-2deg);

    }
    55%{
        transform:rotate(-3deg);

    }
    60%{
        transform:rotate(-4deg);

    }

    65%{
        transform:rotate(-3deg);

    }
    70%{
        transform:rotate(-2deg);

    }
    75%{
        transform:rotate(-1deg);

    }
    80%{
        transform:rotate(0deg);

    }
    100% {
        transform:rotate(0deg);
    }
}