/* Fondo de pantalla */
html {

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

body {
    background-color: #ffffff;
    margin: 0;
    padding: 0;

    &::-webkit-scrollbar {
        display: none;
    }

    &>header {
        height: 100%;

        &>.header__header {
            background-color: rgb(37, 37, 37);
            display: flex;
            width: 100%;
            height: 100px;
            justify-content: space-between;
            align-items: center;

            &>svg {
                width: 300px;
                cursor: pointer;
            }

            &>.header__menu {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: 40px;
                padding: 5px;
                border-radius: 6px;
                cursor: pointer;
                color: white;

                &>button {
                    background-color: transparent;
                    border: none;
                    display: flex;
                    flex-direction: column;
                    border-radius: 10px;

                    &>.rows {
                        cursor: pointer;

                        &>.row {
                            margin: 0;
                            padding: 0;

                            &::after {
                                content: "";
                                display: block;
                                width: 25px;
                                height: 2px;
                                background-color: rgb(255, 255, 255);
                                margin: 3px 0;
                                /* Ajusta este valor para reducir el espacio */

                            }
                        }
                    }

                }

                &>span {
                    font-size: 20px;
                }

                &:hover {
                    background-color: rgb(99, 99, 99);


                }
            }

            &>.clear {
                width: 77.85px;
                height: 31px;
            }
        }

        

        &>a {
            color: black;

            &>.arrow__down {
                cursor: pointer;
                position: absolute;
                bottom: 75px;
                left: 50%;
                width: 0;
                height: 0;

                &>svg {
                    animation: pulse-animation 2s infinite;
                    border: 1px solid;
                    padding: 10px;
                    border-radius: 100%;
                }
            }
        }

        &>main {
            margin: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 87.7vh;
            position: relative;
            &>.cards{
                width: 75%;
                height: 75%;
                display: grid;
                grid-template-rows: repeat(4,1fr);
                grid-template-columns: repeat(3,1fr);
                grid-template-areas: 
                "fv fv cf"
                "pm nh cf"
                "ngv nh cf"
                "ngv nh ep"
                "cont cont cont"

                ;
                gap: 20px;
                &>div{
                    font-weight: 100;
                    font-optical-sizing: auto;
                    font-style: normal;
                    box-shadow: 0 0 5px black;
                    font-size: 15px;
                    text-align: center;
                    cursor: pointer;
                    border-radius: 10px;
                    transition: all 0.3s;
                    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);

                    &:hover{
                        box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
                    }
                    & div{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 10px;
                        height: 100%;
                        width: 100%;
                        background-color: rgba(255, 255, 255, 0.5);
                        backdrop-filter: blur(2px);
                    }

                }
                &>.nh{
                    grid-area: nh;
                    position: relative;
                    background-image: url(Imagenes/png-clipart-porsche-911-car-desktop-logo-porsche-emblem-label-thumbnail-removebg-preview.png);
                    background-position: center;
                    
                }
                &>.ngv{
                    grid-area: ngv;
                    background-image: url(Imagenes/1366_2000__1_-removebg-preview.png);
                    background-position: center;
                    background-size: contain;
                }
                &>.cf{
                    grid-area: cf;
                    background-image: url(Imagenes/images-removebg-preview.png);
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;

                }
                &>.pm{
                    grid-area: pm;
                    background-image: url(Imagenes/porsche-motorsport-6-7445-image-small.png);
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;
                }
                &>.fv{
                    grid-area: fv;
                    background-image: url(Imagenes/Como-entender-la-filosofia-removebg-preview.png);
                    background-position: center;                    
                }
                &>.ep{
                    grid-area: ep;
                }
                &>.cont{
                    grid-area: cont;
                }


            }

            &>dialog{
                width: 50%;
                padding: 0;
                border: none;
                margin: auto;
                background-color: transparent;
                &>main{
                    padding: 40px;
                    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
                    background-color: #ffffff;
                    border-radius: 10px;
                    &>span{
                        font-family: "Lexend Giga", serif;
                        cursor: pointer;
                        margin: 0;
                        position: absolute;
                        top: 3px;
                        right: 3px;
                        height: 15px;
                        width: 15px;
                        padding: 3px;
                        display: flex;
                        text-align: center;
                        justify-content: center;
                        align-items: center;
                        border-radius: 100%;
                        font-size: 13px;
                        &:hover{
                            background-color: rgb(255, 65, 65);
                        }
                    }
                }
                &::backdrop{
                    background-color: rgba(0, 0, 0, 0.8);

                    border: none;
                }
                &:focus{
                    outline: none;
                }
            }
            
        }
    }
}